#canvas {
    position: relative;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}
.point {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}