<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point Mover</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>TEST_MOVE</h1>
    <div id="canvas">
        <div class="point" id="point" style="left: {{ point.x }}px; tops {{ point.y }}px;"></div>
    </div>
    <button onclick="move('up')">Up</button>
    <button onclick="move('down')">Down</button>
    <button onclick="move('left')">Left</button>
    <button onclick="move('right')">Right</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>